# Algorithms and programming in Python and R for Data Science
Python section - Luca Pennella

In [1]:
import timeit
from tabulate import tabulate
import csv
from csv import writer

In [2]:
start_program = timeit.default_timer()

In [3]:
movies = open("C:/Users/lpennella/Desktop/Master/Python/Python/top1000movies.tsv", "r")
movies_list = movies.readlines() # method returns a list containing each line in the file as a list item.
#print(movies_list[0].split("\t"))
movies.close()

In [4]:
for i in range(len(movies_list)):
        aline = movies_list[i]
        aline = aline.lstrip(str(i+1)) # remove the number in the list
        aline = aline.replace("\t", "")
        aline = aline.replace("\n", "")
        movies_list[i] = aline
        #print(aline)

In [5]:
actors = open("C:/Users/lpennella/Desktop/Master/Python/Python/actors.tsv","r")
actors_list = actors.readlines()
actors.close()

In [6]:
for i in range(len(actors_list)):
    aline = actors_list[i]
    aline = aline.replace("\n", "")
    aline = aline.split("\t")
    actors_list[i] = aline

In [39]:
print(actors_list[0])
print(movies_list[0])

['O Brother, Where Art Thou? (2000)', 'Durning, Charles', '2000']
The Shawshank Redemption (1994)

In [8]:
movie_plist = movies_list[0:100]
movies = dict.fromkeys(movie_plist,0)
#movies["The Shawshank Redemption (1994)"] = movies["The Shawshank Redemption (1994)"] + 1
#print(movies.items())

In [9]:
#Question One: Qual'è il film che ha più attori?
def Q1(x, movies_list):
    
    starttime = timeit.default_timer()
    movie_plist = movies_list[0:x]
    movies = dict.fromkeys(movie_plist,0)
    keys = movies.keys()
    
    for i in range(len(actors_list)):
        if actors_list[i][0] in movies.keys():
                   movies[actors_list[i][0]] = movies[actors_list[i][0]] + 1
                
    count = max(movies.values())
    title = max(movies, key=movies.get)
    time = timeit.default_timer() - starttime
    header = [["x", "Film", "N. of Actors", "Ex. time (sec)"]]
    data = [[x, title, count, time]]
    print (tabulate(data, headers = ["x", "Film", "N. of Actors", "Ex. time (sec)"]))
    with open('Table1.csv', 'a', newline='') as f_object:  
    # Pass the CSV  file object to the writer() function
        writer_object = writer(f_object)
    # Result - a writer object
    # Pass the data in the list as an argument into the writerow() function
        if x == 100:
            writer_object.writerow(header)
            writer_object.writerow(data)
        else:
            writer_object.writerow(data)  
    # Close the file object
        f_object.close()

In [10]:
#Answer One
for i in [100,200,400,600,800,1000]:
    if i == 100 :
        print("Table 1")
    Q1(i, movies_list)

Table 1
  x  Film                            N. of Actors    Ex. time (sec)
---  ----------------------------  --------------  ----------------
100  The Dark Knight Rises (2012)             326         0.0180372
  x  Film                            N. of Actors    Ex. time (sec)
---  ----------------------------  --------------  ----------------
200  The Dark Knight Rises (2012)             326          0.017334
  x  Film                            N. of Actors    Ex. time (sec)
---  ----------------------------  --------------  ----------------
400  The Dark Knight Rises (2012)             326         0.0171486
  x  Film                           N. of Actors    Ex. time (sec)
---  ---------------------------  --------------  ----------------
600  The Ten Commandments (1956)             366         0.0189371
  x  Film                           N. of Actors    Ex. time (sec)
---  ---------------------------  --------------  ----------------
800  The Ten Commandments (1956)             366         0.0209671
   x  Film                           N. of Actors    Ex. time (sec)
----  ---------------------------  --------------  ----------------
1000  The Ten Commandments (1956)             366         0.0237396

In [11]:
#Question Two: Qual'è l'anno in cui ci sono più film?
year_list=movies_list[:]
for i in range(len(movies_list)):
        aline = movies_list[i]
        year_list[i] = movies_list[i]
        aline = aline.lstrip(str(i+1)) # remove the number in the list
        aline = aline.replace("\t", "")
        aline = aline.replace("\n", "")
        aline = aline.replace("/I", "")
        aline = aline.replace("(V", "")
        aline = aline.replace(") ", "")
        year_list[i] = aline[-5:-1]
        #print(aline[-5:-1])

In [12]:
print(year_list[225])

1995

In [13]:
unique_year=[]
for i in range(1900,2023):
    i = str(i)
    unique_year.append(i)
print(type(unique_year[1]))

<class 'str'>

In [14]:
#years = dict.fromkeys(unique_year,0)
#years[1900] = years[1900] + 1
#print(years.items())

In [15]:
#Question Two: Qual'è l'anno in cui ci sono più film?
def Q2(x, year_list):
    
    starttime = timeit.default_timer()
    year_plist = year_list[0:x]
    years = dict.fromkeys(unique_year,0)
    keys = years.keys()
    
    for i in range(len(year_plist)):
        if year_plist[i] in years.keys():
                   years[year_plist[i]] = years[year_plist[i]] + 1
                
    count = max(years.values())
    title = max(years, key=years.get)
    yrs = [k for k,v in years.items() if v == count]
    time = timeit.default_timer() - starttime
    data = [[x, yrs, count, time]]
    header = [["x", "Year", "N. of Films", "Ex. time (sec)"]]
    print (tabulate(data, headers = ["x", "Year", "N. of Films", "Ex. time (sec)"]))  
    with open('Table2.csv', 'a', newline='') as f_object:  
    # Pass the CSV  file object to the writer() function
        writer_object = writer(f_object)
    # Result - a writer object
    # Pass the data in the list as an argument into the writerow() function
        if x == 100:
            writer_object.writerow(header)
            writer_object.writerow(data)
        else:
            writer_object.writerow(data)  
    # Close the file object
        f_object.close()

In [16]:
#Answer Two
#da migliorare, non stampa 1999 in x = 100
for i in [100,200,400,600,800,1000]:
    if i == 100 :
        print("Table 2")
    Q2(i, year_list)

Table 2
  x  Year                N. of Films    Ex. time (sec)
---  ----------------  -------------  ----------------
100  ['1994', '1999']              4         0.0001308
  x  Year        N. of Films    Ex. time (sec)
---  --------  -------------  ----------------
200  ['1995']              6         0.0001333
  x  Year        N. of Films    Ex. time (sec)
---  --------  -------------  ----------------
400  ['2004']             14         0.0001237
  x  Year        N. of Films    Ex. time (sec)
---  --------  -------------  ----------------
600  ['2004']             29         0.0002342
  x  Year        N. of Films    Ex. time (sec)
---  --------  -------------  ----------------
800  ['2004']             35         0.0001986
   x  Year        N. of Films    Ex. time (sec)
----  --------  -------------  ----------------
1000  ['2007']             48         0.0002793

In [17]:
#Question Three: Qual'è l'attore che ha fatto più film?

In [18]:
print(actors_list[0])
print(movies_list[0])

['O Brother, Where Art Thou? (2000)', 'Durning, Charles', '2000']
The Shawshank Redemption (1994)

In [19]:
actors = []
for i in range(len(actors_list)):
    lists = actors_list[i]
    for i in range(len(lists)):
        actor = lists[1]
    actors.append(actor)
unique_actor=set(actors)

In [20]:
def Q3(x, movies_list):
    
    starttime = timeit.default_timer()
    movie_plist = movies_list[0:x]
    movies = dict.fromkeys(movie_plist,0)
    keys_movies = movies.keys()
    dict_actor = dict.fromkeys(unique_actor,0)
    
    for i in range(len(actors_list)):
        if actors_list[i][0] in movies.keys():
                   dict_actor[actors_list[i][1]] = dict_actor[actors_list[i][1]] + 1
                
    count = max(dict_actor.values())
    title = max(dict_actor, key=dict_actor.get)
    time = timeit.default_timer() - starttime
    header = [["x", "Actor", "N. of Films", "Ex. time (sec)"]]
    data = [[x, title, count, time]]
    print (tabulate(data, headers = ["x", "Film", "N. of Actors", "Ex. time (sec)"]))   
    with open('Table3.csv', 'a', newline='') as f_object:  
    # Pass the CSV  file object to the writer() function
        writer_object = writer(f_object)
    # Result - a writer object
    # Pass the data in the list as an argument into the writerow() function
        if x == 100:
            writer_object.writerow(header)
            writer_object.writerow(data)
        else:
            writer_object.writerow(data)  
    # Close the file object
        f_object.close()

In [21]:
#Answer Three
for i in [100,200,400,600,800,1000]:
    if i == 100 :
        print("Table 3")
    Q3(i, movies_list)

Table 3
  x  Film             N. of Actors    Ex. time (sec)
---  -------------  --------------  ----------------
100  Flowers, Bess               7         0.0327088
  x  Film             N. of Actors    Ex. time (sec)
---  -------------  --------------  ----------------
200  Flowers, Bess              11         0.0378814
  x  Film                     N. of Actors    Ex. time (sec)
---  ---------------------  --------------  ----------------
400  Hitchcock, Alfred (I)              13         0.0402955
  x  Film               N. of Actors    Ex. time (sec)
---  ---------------  --------------  ----------------
600  De Niro, Robert              15         0.0462051
  x  Film               N. of Actors    Ex. time (sec)
---  ---------------  --------------  ----------------
800  De Niro, Robert              19         0.0458728
   x  Film               N. of Actors    Ex. time (sec)
----  ---------------  --------------  ----------------
1000  De Niro, Robert              24         0.0456236

In [22]:
#Question Four: Mediana del numero di film fatti in un anno, i.e. minimo numero x tale che nel 50% degli anni si sono svolti meno di x film.
def Q4(x, year_list):
    
    starttime = timeit.default_timer()
    year_plist = year_list[0:x]
    years = dict.fromkeys(year_plist,0)
    keys = str(years.keys())
    
    for i in year_plist:
         if i in years.keys():
            years[i] = years[i] + 1
            
    years[''] = 0
    number_year = list(years.values())
    number_year.sort()
    len_of_list = len(number_year)
    
    if len_of_list % 2 == 0:
        median1 = number_year[len_of_list//2]
        median2 = number_year[len_of_list//2 - 1]
        median = (median1 + median2)/2
    else:
        median = number_year[len_of_list//2]
        
    time = timeit.default_timer() - starttime
    header = [["x", "Median of movies in a year",  "Ex. time (sec)"]]
    data = [[x, median, time]]
    print (tabulate(data, headers = ["x", "Median of movies in a year",  "Ex. time (sec)"]))  
    with open('Table4.csv', 'a', newline='') as f_object:  
    # Pass the CSV  file object to the writer() function
        writer_object = writer(f_object)
    # Result - a writer object
    # Pass the data in the list as an argument into the writerow() function
        if x == 100:
            writer_object.writerow(header)
            writer_object.writerow(data)
        else:
            writer_object.writerow(data)  
    # Close the file object
        f_object.close()

In [23]:
#Answer Four
for i in [100,200,400,600,800,1000]:
    if i == 100 :
        print("Table 4")
    Q4(i, year_list)

Table 4
  x    Median of movies in a year    Ex. time (sec)
---  ----------------------------  ----------------
100                             1          5.93e-05
  x    Median of movies in a year    Ex. time (sec)
---  ----------------------------  ----------------
200                             2         0.0001454
  x    Median of movies in a year    Ex. time (sec)
---  ----------------------------  ----------------
400                             4         0.0002003
  x    Median of movies in a year    Ex. time (sec)
---  ----------------------------  ----------------
600                             5         0.0002075
  x    Median of movies in a year    Ex. time (sec)
---  ----------------------------  ----------------
800                             6         0.0001972
   x    Median of movies in a year    Ex. time (sec)
----  ----------------------------  ----------------
1000                             6         0.0003504

In [24]:
flm = []
for i in range(len(actors_list)):
    lists = actors_list[i]
    for i in range(len(lists)):
        film = lists[0]
    flm.append(film)
unique_film=set(flm)

In [36]:
print(actors_list[0])

['O Brother, Where Art Thou? (2000)', 'Durning, Charles', '2000']

In [26]:
def Q5(x,movies_list):
    starttime = timeit.default_timer()
    movielist = movies_list[0:x]
    movies = dict.fromkeys(movies_list,0)
    movies_actor = dict.fromkeys(unique_actor,0)
    for title in actors_list:
        if title[0] in movies.keys():
            movies_actor[title[1]] = movies_actor[title[1]] + 1
    lista_number_film = list(movies_actor.values())
    lista_number_film.sort()
    len_of_list = len(lista_number_film)
    if len_of_list % 2 == 0:
        median1 = lista_number_film[len_of_list//2]
        median2 = lista_number_film[len_of_list//2 - 1]
        median = (median1 + median2)/2
    else:
        median = lista_number_film[len_of_list//2]
    time = timeit.default_timer() - starttime
    header = [["x", "Median of movies for an actor",  "Ex. time (sec)"]]
    data = [[x, median, time]]
    print (tabulate(data, headers = ["x", "Median of movies for an actor",  "Ex. time (sec)"]))
    with open('Table5.csv', 'a', newline='') as f_object:  
    # Pass the CSV  file object to the writer() function
        writer_object = writer(f_object)
    # Result - a writer object
    # Pass the data in the list as an argument into the writerow() function
        if x == 100:
            writer_object.writerow(header)
            writer_object.writerow(data)
        else:
            writer_object.writerow(data)  
    # Close the file object
        f_object.close()

In [27]:
#Answer Five
for i in [100,200,400,600,800,1000]:
    if i == 100 :
        print("Table 5")
    Q5(i,movies_list)

Table 5
  x    Median of movies for an actor    Ex. time (sec)
---  -------------------------------  ----------------
100                                1         0.0489307
  x    Median of movies for an actor    Ex. time (sec)
---  -------------------------------  ----------------
200                                1         0.0380048
  x    Median of movies for an actor    Ex. time (sec)
---  -------------------------------  ----------------
400                                1         0.0340144
  x    Median of movies for an actor    Ex. time (sec)
---  -------------------------------  ----------------
600                                1         0.0286118
  x    Median of movies for an actor    Ex. time (sec)
---  -------------------------------  ----------------
800                                1         0.0271538
   x    Median of movies for an actor    Ex. time (sec)
----  -------------------------------  ----------------
1000                                1          0.026183

In [28]:
#Question Six: Qual'è l'attore che ha collaborato con più attori?

In [29]:
def Q6(x, movies_list):
    starttime = timeit.default_timer()
    movie_plist = movies_list[0:x]
    movie2actors = dict.fromkeys(movie_plist,0)
    
    for i in movie2actors .keys():
        movie2actors[i] = []
    for title in actors_list:
        if title[0] in movie2actors.keys():
            movie2actors[title[0]].append(title[1]) 
            
    actors2movie  = dict.fromkeys(unique_actor,0)
    for actor in actors2movie.keys():
        actors2movie[actor] = []
    for film in movie2actors.keys():
        for name_actor in movie2actors[film]:
            actors2movie[name_actor].append(film)   
            
    collab = {}
    collab_count = {}
    for actor in actors2movie.keys():
        collab[actor] = set()
        for film in actors2movie[actor]:
            if film in movie2actors.keys():
                collab[actor] = collab[actor].union(set(movie2actors[film]))
        if collab[actor]:
            collab[actor].remove(actor)
            collab_count[actor] = len(collab[actor])
        else:
            collab_count[actor] = 0
            
    time = timeit.default_timer() - starttime
    count = max(collab_count.values())
    actor = [k for k,v in collab_count.items() if v == count]
    header = [["x", "Actor", "Number of collaborators",  "Ex. time (sec)"]]
    data = [[x, actor, count, time]]
    print (tabulate(data, headers = ["x", "Actor", "Number of collaborators",  "Ex. time (sec)"]))
    with open('Table6.csv', 'a', newline='') as f_object:  
    # Pass the CSV  file object to the writer() function
        writer_object = writer(f_object)
    # Result - a writer object
    # Pass the data in the list as an argument into the writerow() function
        if x == 100:
            writer_object.writerow(header)
            writer_object.writerow(data)
        else:
            writer_object.writerow(data)  
    # Close the file object
        f_object.close()

In [30]:
#Answer Six
for i in [100,200,400,600,800,1000]:
    if i == 100 :
        print("Table 6")
    Q6(i,movies_list)

Table 6
  x  Actor                      Number of collaborators    Ex. time (sec)
---  -----------------------  -------------------------  ----------------
100  ['Freeman, Morgan (I)']                        644          0.247018
  x  Actor                      Number of collaborators    Ex. time (sec)
---  -----------------------  -------------------------  ----------------
200  ['Freeman, Morgan (I)']                        861          0.421119
  x  Actor               Number of collaborators    Ex. time (sec)
---  ----------------  -------------------------  ----------------
400  ['Oldman, Gary']                       1034          0.494659
  x  Actor                  Number of collaborators    Ex. time (sec)
---  -------------------  -------------------------  ----------------
600  ['De Niro, Robert']                       1194          0.717583
  x  Actor                  Number of collaborators    Ex. time (sec)
---  -------------------  -------------------------  ----------------
800  ['De Niro, Robert']                       1327          0.938195
   x  Actor                  Number of collaborators    Ex. time (sec)
----  -------------------  -------------------------  ----------------
1000  ['De Niro, Robert']                       1639           1.11326

In [31]:
#Question Seven: Qual'è la coppia di attori che ha fatto più film insieme?

In [32]:
def Q7(x, movies_list):
    starttime = timeit.default_timer()
    movielist = movies_list[0:x]
    
    movie2actors = dict.fromkeys(movielist,0)
    for film in movie2actors.keys():
        movie2actors[film] = []
    for title in actors_list:
        if title[0] in movie2actors.keys():
            movie2actors[title[0]].append(title[1])
            
    actors2movie  = dict.fromkeys(unique_actor,0)
    for actor in actors2movie.keys():
        actors2movie[actor] = []
    for film in movie2actors.keys():
        for name_actor in movie2actors[film]:
            actors2movie[name_actor].append(film)
            
    collab= {}
    for actor in actors2movie.keys():
        collab[actor] = set()
        for film in actors2movie[actor]:
            if film in movie2actors.keys():
                collab[actor] = collab[actor].union(set(movie2actors[film]))
        if collab[actor]:
            collab[actor].remove(actor)     
    collab_count = {}
    
    for actor in collab.keys():
        for actor_collaboration in collab[actor]:
            collab_count[(actor,actor_collaboration)] = len(set(actors2movie[actor]).intersection(actors2movie[actor_collaboration]))
            collab[actor_collaboration].remove(actor) 
            
    time = timeit.default_timer() - starttime
    count = max(collab_count.values())
    actor = [k for k,v in collab_count.items() if v == count]
    header = [["x", "Actors", "Number of collaborators",  "Ex. time (sec)"]]
    data = [[x, actor, count, time]]
    print (tabulate(data, headers = ["x", "Actors", "Number of collaborators",  "Ex. time (sec)"])) 
    with open('Table7.csv', 'a', newline='') as f_object:  
    # Pass the CSV  file object to the writer() function
        writer_object = writer(f_object)
    # Result - a writer object
    # Pass the data in the list as an argument into the writerow() function
        if x == 100:
            writer_object.writerow(header)
            writer_object.writerow(data)
        else:
            writer_object.writerow(data)  
    # Close the file object
        f_object.close()

In [33]:
#Answer Seven
for i in [100,200,400,600,800,1000]:
    if i == 100 :
        print("Table 7")
    Q7(i, movies_list)

Table 7
  x  Actors                                            Number of collaborators    Ex. time (sec)
---  ----------------------------------------------  -------------------------  ----------------
100  [('Ford, Harrison (I)', 'Diamond, Peter (I)')]                          4          0.634942
  x  Actors                                          Number of collaborators    Ex. time (sec)
---  --------------------------------------------  -------------------------  ----------------
200  [('Hitchcock, Alfred (I)', 'Flowers, Bess')]                          5          0.947456
  x  Actors                                       Number of collaborators    Ex. time (sec)
---  -----------------------------------------  -------------------------  ----------------
400  [('Lynn, Sherry (I)', 'McGowan, Mickie')]                          9           2.24727
  x  Actors                                       Number of collaborators    Ex. time (sec)
---  -----------------------------------------  -------------------------  ----------------
600  [('Lynn, Sherry (I)', 'McGowan, Mickie')]                         11           3.19054
  x  Actors                                       Number of collaborators    Ex. time (sec)
---  -----------------------------------------  -------------------------  ----------------
800  [('Lynn, Sherry (I)', 'McGowan, Mickie')]                         12           4.25208
   x  Actors                                       Number of collaborators    Ex. time (sec)
----  -----------------------------------------  -------------------------  ----------------
1000  [('Lynn, Sherry (I)', 'McGowan, Mickie')]                         15           5.23145

In [34]:
end_program = timeit.default_timer() - start_program
print(end_program)

23.136221